AIP_VOR_SAP-master/src/main/resources/getPlantSAP.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
	xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
		
	<wsdl:documentation>
		<sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
	</wsdl:documentation>			
	
	<wsdl:types>
		<xsd:schema attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:rfc:functions">
			<xsd:simpleType name="char10">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="10" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char18">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="18" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char25">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="25" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char3">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="3" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char30">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="30" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char4">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="4" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char40">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="40" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="char50">
				<xsd:restriction base="xsd:string">
					<xsd:maxLength value="50" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="quantum13.3">
				<xsd:restriction base="xsd:decimal">
					<xsd:totalDigits value="13" />
					<xsd:fractionDigits value="3" />
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
		<xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions"
			attributeFormDefault="qualified"
			targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
			<xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
			<xsd:complexType name="ZsdcrmVorOrder">
				<xsd:sequence>
					<xsd:element name="Matnr" type="n0:char18" />
					<xsd:element name="Werks" type="n0:char4" />
					<xsd:element name="Labst" type="n0:quantum13.3" />
					<xsd:element name="Lgort" type="n0:char4" />
					<xsd:element name="Maktx" type="n0:char40" />
					<xsd:element name="Name1" type="n0:char30" />
					<xsd:element name="Name2" type="n0:char30" />
					<xsd:element name="Stras" type="n0:char30" />
					<xsd:element name="Pstlz" type="n0:char10" />
					<xsd:element name="Ort01" type="n0:char25" />
					<xsd:element name="Land1" type="n0:char3" />
					<xsd:element name="Regio" type="n0:char3" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ZsdcrmVorOrderT">
				<xsd:sequence>
					<xsd:element name="item" type="tns:ZsdcrmVorOrder"
						minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="ZsdcrmVorSalesOrder">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Matnr" type="n0:char18" />
						<xsd:element name="PLabst" type="n0:quantum13.3" />
						<xsd:element name="Werks" type="n0:char4" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="ZsdcrmVorSalesOrderResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ItFinal" type="tns:ZsdcrmVorOrderT" />
						<xsd:element name="VMsg" type="n0:char50" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ZsdcrmVorSalesOrder">
		<wsdl:part name="parameters" element="tns:ZsdcrmVorSalesOrder" />
	</wsdl:message>
	<wsdl:message name="ZsdcrmVorSalesOrderResponse">
		<wsdl:part name="parameter" element="tns:ZsdcrmVorSalesOrderResponse" />
	</wsdl:message>
	<wsdl:portType name="zsdcrm_vor_sales_order">
	<!-- 	<wsp:Policy>
			<wsp:PolicyReference URI="#IF__zsdcrm_vor_sales_order" />
		</wsp:Policy> -->
		<wsdl:operation name="ZsdcrmVorSalesOrder">
			<!-- <wsp:Policy>
				<wsp:PolicyReference URI="#OP__ZsdcrmVorSalesOrder" />
			</wsp:Policy> -->
			<wsdl:input message="tns:ZsdcrmVorSalesOrder" />
			<wsdl:output message="tns:ZsdcrmVorSalesOrderResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="ZSDCRM_VOR_SALES_ORDER" type="tns:zsdcrm_vor_sales_order">
		<!-- <wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZSDCRM_VOR_SALES_ORDER" />
		</wsp:Policy> -->
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="ZsdcrmVorSalesOrder">
			<soap:operation
				soapAction="urn:sap-com:document:sap:soap:functions:mc-style:zsdcrm_vor_sales_order:ZsdcrmVorSalesOrderRequest"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ZSDCRM_VOR_SALES_ORDER_soap12" type="tns:zsdcrm_vor_sales_order">
		<!-- <wsp:Policy>
			<wsp:PolicyReference URI="#BN__ZSDCRM_VOR_SALES_ORDER_soap12" />
		</wsp:Policy> -->
		<wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<wsdl:operation name="ZsdcrmVorSalesOrder">
			<wsoap12:operation
				soapAction="urn:sap-com:document:sap:soap:functions:mc-style:zsdcrm_vor_sales_order:ZsdcrmVorSalesOrderRequest"
				style="document" />
			<wsdl:input>
				<wsoap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ZSDCRM_VOR_SALES_ORDER">
		<wsdl:port name="ZSDCRM_VOR_SALES_ORDER" binding="tns:ZSDCRM_VOR_SALES_ORDER">
			<soap:address
				location="http://TDRECCAPPDEV.tmindia.tatamotors.com:8000/sap/bc/srt/rfc/sap/zsdcrm_vor_sales_order/250/zsdcrm_vor_sales_order/zsdcrm_vor_sales_order" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
