AIP_CRM_SAP_CLAIM-master/src/main/resources/sap/zsdrfc_amc_contract_validation-prod-esb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
    </wsdl:documentation>
    <!--<wsp:UsingPolicy wsdl:required="true" />
    <wsp:Policy wsu:Id="BN__ZSDRFC_AMC_CONTRACT_VALIDATION">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication />
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15 />
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict />
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication />
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15 />
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict />
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__ZSDRFC_AMC_CONTRACT_VALIDATION_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication />
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15 />
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict />
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication />
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15 />
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict />
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__ZSDRFC_AMC_CONTRACT_VALIDATION">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>4F17462940F800A4E1008000AC18066C</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZSDRFC_AMC_CONTRACT_VALIDATION">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>-->
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char18">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="18" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char60">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="60" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10" />
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="quantum13.3">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="13" />
                    <xsd:fractionDigits value="3" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ZSD_AMC_LINE_ITEM">
                <xsd:sequence>
                    <xsd:element name="ITEM_TYPE" type="tns:char1" />
                    <xsd:element name="ITEM_ID" type="tns:char15" />
                    <xsd:element name="MATERIAL" type="tns:char18" />
                    <xsd:element name="QTY" type="tns:quantum13.3" />
                    <xsd:element name="FLAG" type="tns:char1" />
                    <xsd:element name="REMARKS" type="tns:char100" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TABLE_OF_ZSD_AMC_LINE_ITEM">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZSD_AMC_LINE_ITEM" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZSDRFC_AMC_CONTRACT_VALIDATION">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CHASSIS_NO" type="tns:char18" />
                        <xsd:element name="CHASSIS_PL" type="tns:char60" />
                        <xsd:element name="CONTRACT_NO" type="tns:char10" />
                        <xsd:element name="CRM_SALE_DATE" type="tns:date10" />
                        <xsd:element name="IT_AMC" type="tns:TABLE_OF_ZSD_AMC_LINE_ITEM" />
                        <xsd:element name="KMS" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZSDRFC_AMC_CONTRACT_VALIDATIONResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="IT_AMC" type="tns:TABLE_OF_ZSD_AMC_LINE_ITEM" />
                        <xsd:element name="REMARKS" type="tns:char100" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZSDRFC_AMC_CONTRACT_VALIDATION">
        <wsdl:part name="parameters" element="tns:ZSDRFC_AMC_CONTRACT_VALIDATION" />
    </wsdl:message>
    <wsdl:message name="ZSDRFC_AMC_CONTRACT_VALIDATIONResponse">
        <wsdl:part name="parameter" element="tns:ZSDRFC_AMC_CONTRACT_VALIDATIONResponse" />
    </wsdl:message>
    <wsdl:portType name="ZSDRFC_AMC_CONTRACT_VALIDATION">
        <!--<wsp:Policy>
            <wsp:PolicyReference URI="#IF__ZSDRFC_AMC_CONTRACT_VALIDATION" />
        </wsp:Policy>-->
        <wsdl:operation name="ZSDRFC_AMC_CONTRACT_VALIDATION">
            <!--<wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZSDRFC_AMC_CONTRACT_VALIDATION" />
            </wsp:Policy>-->
            <wsdl:input message="tns:ZSDRFC_AMC_CONTRACT_VALIDATION" />
            <wsdl:output message="tns:ZSDRFC_AMC_CONTRACT_VALIDATIONResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZSDRFC_AMC_CONTRACT_VALIDATION" type="tns:ZSDRFC_AMC_CONTRACT_VALIDATION">
        <!--<wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZSDRFC_AMC_CONTRACT_VALIDATION" />
        </wsp:Policy>-->
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="ZSDRFC_AMC_CONTRACT_VALIDATION">
            <soap:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZSDRFC_AMC_CONTRACT_VALIDATION:ZSDRFC_AMC_CONTRACT_VALIDATIONRequest" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ZSDRFC_AMC_CONTRACT_VALIDATION_soap12" type="tns:ZSDRFC_AMC_CONTRACT_VALIDATION">
        <!--<wsp:Policy>
            <wsp:PolicyReference URI="#BN__ZSDRFC_AMC_CONTRACT_VALIDATION_soap12" />
        </wsp:Policy>-->
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="ZSDRFC_AMC_CONTRACT_VALIDATION">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:functions:ZSDRFC_AMC_CONTRACT_VALIDATION:ZSDRFC_AMC_CONTRACT_VALIDATIONRequest" style="document" />
            <wsdl:input>
                <wsoap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZSDRFC_AMC_CONTRACT_VALIDATION">
        <wsdl:port name="ZSDRFC_AMC_CONTRACT_VALIDATION" binding="tns:ZSDRFC_AMC_CONTRACT_VALIDATION">
            <soap:address location="http://TDCSAPECCAPP7.pune.telco.co.in:8001/sap/bc/srt/rfc/sap/zsdrfc_amc_contract_validation/500/zsdrfc_amc_contract_validation/zsdrfc_amc_contract_validation" />
        </wsdl:port>
        <!--<wsdl:port name="ZSDRFC_AMC_CONTRACT_VALIDATION_soap12" binding="tns:ZSDRFC_AMC_CONTRACT_VALIDATION_soap12">
            <wsoap12:address location="http://TDCSAPECCAPP7.pune.telco.co.in:8001/sap/bc/srt/rfc/sap/zsdrfc_amc_contract_validation/500/zsdrfc_amc_contract_validation/zsdrfc_amc_contract_validation" />
        </wsdl:port>-->
    </wsdl:service>
</wsdl:definitions>
